asgiref
certifi
charset-normalizer
Django
django-cors-headers
djangorestframework
djangorestframework-simplejwt
drf-yasg
environs
idna
inflection
marshmallow
packaging
pillow
PyJWT
python-dotenv
pytz
PyYAML
requests
sqlparse
uritemplate
urllib3
